jupyterlab
torch
pandas
git+https://github.com/daviddavo/pytorch_geometric
matplotlib
plotly
ray[tune]
requests-toolbelt
hyperopt
ipywidgets
duckdb
duckdb-engine
kaggle
lenskit
recommenders>=1.2.0
tensorflow
sentence-transformers
joblib
solara
kaleido
jupysql
papermill
zenodo_client
