jupyterlab
torch
pandas
git+https://github.com/daviddavo/pytorch_geometric
matplotlib
plotly
ray[tune]
hyperopt
ipywidgets
duckdb
duckdb-engine
kaggle
recommenders
tensorflow
sentence-transformers
joblib
solara
kaleido
jupysql
papermill
